body{
    background-color: black;
}



.selectplayer{
    display: flex;
    justify-content: center;
    padding: 6px;
}

.amountbutton
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: grey;
    font-weight: bold;
    margin: 5px;
}
 
.ui
{
    margin: 5px;
    height: 50px;
}

.roll
{
    left: 0px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-image: url('img/dice1.png');
    cursor: pointer;
}



.playerturn
{   color: snow;
    font-family: sans-serif;
    float: left;
    background-color: grey;
    width: 60px;
    height: 30px;
}

.board
{
    height: 620px;
    width: 620px;
}

.boardoverlay
{
    left: 610px;
    top: 182px;
    position: absolute;
    background-image: url('img/snakes.png');
    width: 610px;
    height: 610px;
}

.pawn
{
    top: 0px;
    position: absolute;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: none;
}

.pawn0
{
   background-image: url('img/pawn0.png') ;
}

.pawn1
{
    background-image: url('img/pawn1.png') ;
    
}

.pawn2
{
    background-image: url('img/pawn2.png') ;
}

.pawn3
{
    background-image: url('img/pawn3.png') ;
}

.tile
{   font-family: sans-serif;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: grey;
    color: snow;
}

.winner{
    text-align: center;
    font-size: 150px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    display: none; 
    color: snow;
}